# AI Context Files
.context/
.agent/

# vscode settings
.vscode/

# env files
.env

# Site
_site/
.jekyll-cache/


# Node / Testing (Local Only)
node_modules/
package.json
package-lock.json
vitest.config.js
test/*.test.js

temp/