# AI Context Files
context/

# Agent Configs
.agent/

# vscode settings
.vscode/

# env files
.env

# Site
_site/

# Node / Testing (Local Only)
node_modules/
package.json
package-lock.json
vitest.config.js
test/*.test.js
