<div class="sidebar-nav">
  {% for item in site.navigation %}
    {% if item.title == "Player's Guide" %}
      <div>
        DEBUG - Title: {{ item.title }}<br>
        DEBUG - Collection: {{ item.collection }}<br>
        DEBUG - Has sections: {{ item.sections }}<br>
        DEBUG - Sections size: {{ item.sections | size }}<br>
        {% if item.sections %}
          DEBUG - Sections exist!<br>
          {% for section in item.sections %}
            DEBUG - Section title: {{ section.title }}<br>
            DEBUG - Section folder: {{ section.folder }}<br>
          {% endfor %}
        {% else %}
          DEBUG - No sections found!<br>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
</div>